.good-list{
	list-style-type: none;
}
pre{
	background: #F5F2F0;
	border: 1px solid #DDDBD9;
	border-radius: 2px;
	padding: 10px;
}

pre > span{
	color: #CCC;
}

pre.warning{
	background: rgba(253, 33, 45, 0.1);
	border: 1px solid #D2352E;
	
}

.code{
	position:relative;
}

.code span{
    color: #666;
    font-size: 20px;
    left: -25px;
    position: absolute;
    top: 29%;
	
}

.variable{
	display:none;
}

.show-list{
	padding-left: 10px;
	cursor: pointer;
}